@import url('https://fonts.googleapis.com/css?family=Arvo');

body
{
    background-color: white;
    font-family: 'Arvo', sans-serif;
}

h1
{
    margin-bottom: 0px;
}

.container
{
    display: grid;
    height: 97vh;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    grid-template-areas: 'header header header'
                         'left center right'
                         'footer footer footer';
}

.negative
{
    color: red;
}

.title
{
    font-size: 5vmin;
    font-weight: bold;
    color: rgb(1, 145, 200);
}

.o
{
    display: inline-block;
    width: 4vmin;
    height: 4vmin;
    background: rgb(1, 145, 200);
    border-radius: 50%;
}

.title:hover
{
    color: rgb(30, 100, 130);
    transition: all 100ms linear 0s;
}

.title:hover > .o
{
    background: rgb(30, 100, 130);
    transition: all 100ms linear 0s;
}

input[type=file]
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.link
{
    text-decoration: none;
}

.noselect
{
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.noselect::selection
{
    background: none;
}

.handcursor
{
    cursor: pointer;
}

.defaultcursor
{
    cursor: default;
}

.header
{
    grid-area: header;
    margin-top: 1vmin;
    text-align: center;
    z-index: 1000;
}

.center
{
    grid-area: center;
    text-align: center;
    color: black;
}

.hint
{
    font-size:2vmin;
    font-weight: normal;
}

.grey
{
    color: rgb(190, 190, 190);
}

.filename
{
    font-size: 3vmin;
    font-weight: bold;
}

.filecontainer
{
    display: inline-block;
    width: 25vmin;
    height: 33vmin;
    cursor: pointer;
}

.svgtext
{
    cursor: pointer;
    font-size: 4vmin;
    font-weight: bold;
}
